<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.log">

	<!-- ===================== -->
	<!-- TARGETS (куда пишем) -->
	<!-- ===================== -->

	<targets>

		<!-- Консоль -->
		<target xsi:type="Console"
				name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Общий файл логов -->
		<target xsi:type="File"
				name="file"
				fileName="logs/app-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7" />

		<!-- Только ошибки -->
		<target xsi:type="File"
				name="errorFile"
				fileName="logs/errors-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"
				archiveEvery="Day"
				maxArchiveFiles="14" />

	</targets>

	<!-- ===================== -->
	<!-- RULES (что куда пишем) -->
	<!-- ===================== -->

	<rules>

		<!-- Всё Info и выше -->
		<logger name="*" minlevel="Info" writeTo="console,file" />

		<!-- Ошибки отдельно -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />

	</rules>

</nlog>